    #container {
      background: #660708;
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: center;
      flex-direction: column;

      >img{
        width: 100px;
        height: 140px;
        margin-right: 7px;
      }
      >h1 {
          color: #FFF;
          font-size: 50px;
          margin-top: -30px;
          margin-bottom: 50px;
      }
      
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        flex-direction: column;
        >h1{
          color: #FFF;
          font-size: 50px;
        };
        >span{
          color: #FFF;
          margin-top: 15px;
        }
      }

    };