.modal-close-button{
    border-color: transparent;
    background: transparent;
}


.modal_login_content {
    width: 100;
    height: 200px;
    background-color: #29292e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px, 0px, 0px, 10px;


    >h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 30px;
    };

    >input {
        margin-bottom: 20px;
        width: 50%;
        height: 35px;
        padding-left: 10px;
        border-radius: 5px;
       

        &:focus{
            border-color: transparent;
            border-width: 0px;
        };
    };

    >button{
        width: 50%;
        height: 35px;
        border-radius: 5px;
        background: #660708;
        border-color: transparent;
        color: #fff;
        font-weight: bold;
        cursor: pointer;

        &.outlined {
            background: #fff;
            border: 1px solid;
            border-color: #00b4d8;
            color: #00b4d8;
        }
     
        &:not(:disabled):hover {
            filter: brightness(0.9);
        };
     
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}

.banner-lgpd{
    max-height: 800px;
    overflow-y: scroll;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >h3{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: #660708;
    }
    >p{
        text-align: left;
        padding: 0px 20px;
    }

    >div{

        >button{
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background: #660708;
            border-color: transparent;
            margin: 10px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
    
            &.outlined {
                background: #fff;
                border: 1px solid;
                border-color: #00b4d8;
                color: #00b4d8;
            }
         
            &:not(:disabled):hover {
                filter: brightness(0.9);
            };
         
            &:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
}