.admin-container {
    background: #161a1d;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
      flex-direction: column;

    .welcome-header {
      width: 100%;
      height: 55px;
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      >p {
        color: #fff;
        font-size: 30px;
        font-weight: bolder
    };
    };

    .content{
      height: 10vh;
      display: flex;
      flex-direction: row;

      .indicator-container {
        background: #ba181b;
        width: 150px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;
        margin-right: 20px;

        >p {
          color: #fff;
          font-weight: bold;
        };    
      };

      .map-container {
        background: #ff9f1c;
        width: 150px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;

        >p {
          color: #fff;
          font-weight: bold;
        };
      }; 

    };

    .preview-indicator {
      width: 100%;
      height: 50px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      >p {
        font-weight: 700;
        font-size: 25px
      }
    };

    .previews {
      height: 80vh;
    }

 
      .footer {
        background-color: #0b090a;
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 30px;
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
          bottom: 0;
          position: absolute;

          .footer-title {
            color: #fff;
            font-weight: bold;
            font-size: 15px;
          }
      }
};

.item-admin{
  width: 90%;
  height: 70px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 180px;
  padding-left: 4%;
  >div{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    height: 100%;
    width: 400px;
    justify-content: space-around;
  }
  >img{
    width: 60px;
    border-radius: 30px;
    height: 60px;
  }

  >strong{
    font-size: 20px;
  }

  >a{
    font-size: 20px;
    font-weight: lighter;
  }

  >button{
    margin-left: 60%;
    border: transparent;
    background: #ba181b;
    color: #fff;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    transition: filter 0.2s;
    cursor: pointer;
    :hover{
       filter: brightness(0.5)
    };
  };

};

.word-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  >span{
    color: #fff;
    font-size: 20px;
  };

  >input{
    width: 400px;
    height: 45px;
    border: transparent;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
  };

  >h2{
    color: #fff;
    margin-top: 30px;
    font-size: 30px;
  };

  >button{
    width: 200px;
    height: 50px;
    border-radius: 3px;
    margin-top: 20px;
    background: #ba181b;
    border: transparent;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
  }

}

.obs{
  background: #000;
  padding: 8px;
  border-radius: 4px;
  >strong{
    color: #ba181b;
  }
}

.bottom-div{
  flex-direction: row;
  display: flex;
  margin-top: 20px;
}

.actual-brands{
  display: flex;
  flex-direction: row;
  background: #fff;
  width: 100px;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0px 15px;

  >img{
    width: 80px;
    height: 60px;  
  };

}

 .delete-brand{
    width: 7vw;
    height: 10vh;
    border-radius: 15px;
    border: transparent;
    cursor: pointer;
    background: transparent;
    >img{
      width: 20px;
      height: 20px;
    }

    &::hover{
        transform: scale(1.1);
    }
 }

 .list-map{
      width: 100vw;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 50vh;
 }