 .mindmapContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 5%;
    flex-direction: column;
    background: #161a1d;

    .words {
       flex-direction: row;
       align-items: center;
       justify-content: center;
       display: flex;
       width: 100%;
       flex-wrap: wrap;
       margin-top: -50px;
    }
 }

 .continue-button{
   display: flex;
   border: transparent;
   align-items: center;
   justify-content: center;
   background: #660708;
   color: #fff;
   font-weight: bold;
   font-size: 20px;
   width: 150px;
   margin-right: 20px;
   height: 60px;
   border-radius: 5px;
   margin-bottom: 5px;
   cursor: pointer;

 }

 .button-edge{
    width: 50px;
    height: 50px;
 }

 .image-central {
    width: 80px;
    height: 60px;
 }

 .instruction{
    width: 550px;
    height: 750px;
    border-radius: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 10px;
    
    >h1{
      color: #660708;
      font-size: 35px;
    };

    >ul{
       >li{
          font-weight: bold;
          margin-bottom: 15px;
       }
    }

    >div{
       background: #660708;
       color: #fff;
       font-weight: bold;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 85%;
       height: 50px;
       font-size: 20px;
    }

    >p{
      text-align: center;
      font-weight: bold;
    };

    >button{
       margin-top: 20px;
       width: 180px;
       height: 50px;
       border-radius: 5px;
       background: #660708;
       border: transparent;
       align-items: center;
       justify-content: center;
       display: flex ;
       color: #fff;
       cursor: pointer;
       font-weight: bold;
    };
 };

 .bottom-map{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    >button{
       width: 250px !important;
    }
    
 }